<a href="https://colab.research.google.com/github/srijapamu25/Project-2/blob/main/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [1]:
import pandas as pd
import numpy as np

**Loading the dataset**

In [2]:
df = pd.read_csv('/content/Data Visualization/Opportunity Wise Data.csv')
df

,Profile Id,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,Gender,City,State,Country,Zip Code,...,Current Student Status,Current/Intended Major,Status Description,Apply Date,Opportunity Start Date,Reward Amount,Badge Id,Badge Name,Skill Points Earned,Skills Earned
0,31ce84c2-2bd1-40ba-b2d8-f164fe125306,00000000-0G4F-19XB-EXPW-KS8F3N,Statement of Purpose (SOP) Writing Workshop,Event,"Jan 05, 2023, 18:58:39",Male,Dhaka,Savar,Bangladesh,1342,...,High School Student,Data Science,Not Started,"Oct 03, 2022, 17:29:17","Jan 05, 2023, 18:52:39",NaN,NaN,NaN,NaN,NaN
1,36814990-f854-4f76-8c63-91f27567d080,00000000-0G4F-19XB-EXPW-KS8F3N,Statement of Purpose (SOP) Writing Workshop,Event,"Jan 05, 2023, 18:58:39",Female,Amritsar,Punjab,Afghanistan,123242,...,Undergraduate Student,Otheraassss,Rewards Award,"Jan 05, 2023, 18:58:37","Jan 05, 2023, 18:52:39",200.0,00000000-0GSP-A3RB-BT5G-1ECTG9,Statement of Purpose (SOP) Writing Workshop,10.0,"[""Critical Thinking"",""Creative Thinking"",""Comm..."
2,8154328c-f8fe-4bd1-af05-783e140f68b5,00000000-0G4F-19XB-EXPW-KS8F3N,Statement of Purpose (SOP) Writing Workshop,Event,"Jan 05, 2023, 18:58:39",Female,Satna,Madhya pradesh,India,485001,...,High School Student,Computer Science and Engineering,Not Started,"Oct 04, 2022, 08:10:07","Jan 05, 2023, 18:52:39",NaN,NaN,NaN,NaN,NaN
3,a83abad6-db1e-44c4-a8f4-9e397e282d73,00000000-0G4F-19XB-EXPW-KS8F3N,Statement of Purpose (SOP) Writing Workshop,Event,"Jan 05, 2023, 18:58:39",Male,Hyderabad,Telangana,India,500039,...,Graduate Program Student,Computer Science,Not Started,"Oct 05, 2022, 13:41:47","Jan 05, 2023, 18:52:39",NaN,NaN,NaN,NaN,NaN
4,c2b8a15f-2ba3-41e4-a553-7ca68b0d4a54,00000000-0G4F-19XB-EXPW-KS8F3N,Statement of Purpose (SOP) Writing Workshop,Event,"Jan 05, 2023, 18:58:39",Male,Bangalore,Karnataka,India,560105,...,Undergraduate Student,jknhk,Not Started,"Oct 05, 2022, 11:07:17","Jan 05, 2023, 18:52:39",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20317,f386224b-4b64-4d70-a6c5-8d90e3653925,00000000-101Y-HSX2-0DFJ-QCKQBR,AI Ethics Challenge,Competition,"Oct 31, 2023, 14:45:36",Male,Bijnor,Uttar Pradesh,India,246701,...,Graduate Program Student,Software Engineering,Team Allocated,"Jul 19, 2023, 06:36:27","Sep 04, 2023, 05:00:11",NaN,NaN,NaN,NaN,NaN
20318,f398b382-ac7a-4b14-8f76-cd41a51b1459,00000000-101Y-HSX2-0DFJ-QCKQBR,AI Ethics Challenge,Competition,"Oct 31, 2023, 14:45:36",Male,College Station,Texas,United States,77840,...,Graduate Program Student,Industrial Engineering,Applied,"Sep 02, 2023, 15:34:23",NaN,NaN,NaN,NaN,NaN,NaN
20319,f476e230-266d-491b-a693-f3f3bccac7d6,00000000-101Y-HSX2-0DFJ-QCKQBR,AI Ethics Challenge,Competition,"Oct 31, 2023, 14:45:36",Female,Narasaraopet,Andhra Pradesh,India,522601,...,Graduate Program Student,Computer Science,Applied,"Sep 22, 2023, 04:13:06",NaN,NaN,NaN,NaN,NaN,NaN
20320,f92acfd4-3888-447a-a6dd-f996544eebbb,00000000-101Y-HSX2-0DFJ-QCKQBR,AI Ethics Challenge,Competition,"Oct 31, 2023, 14:45:36",Female,Saint Louis,Missouri,United States,63108,...,Graduate Program Student,Health Data Science,Applied,"Oct 25, 2023, 06:29:07",NaN,NaN,NaN,NaN,NaN,NaN
20321,fdccf84d-6011-4048-ad8d-73df5e7c431e,00000000-101Y-HSX2-0DFJ-QCKQBR,AI Ethics Challenge,Competition,"Oct 31, 2023, 14:45:36",Male,Rangpur,Rangpur,Bangladesh,5610,...,High School Student,Data Analyst,Team Allocated,"Oct 29, 2023, 12:43:55","Sep 04, 2023, 05:00:11",NaN,NaN,NaN,NaN,NaN

In [3]:
# shape
df.shape

(20322, 21)

In [4]:
# checking data types
df.dtypes

Profile Id                   object
Opportunity Id               object
Opportunity Name             object
Opportunity Category         object
Opportunity End Date         object
Gender                       object
City                         object
State                        object
Country                      object
Zip Code                     object
Graduation Date(YYYY MM)     object
Current Student Status       object
Current/Intended Major       object
Status Description           object
Apply Date                   object
Opportunity Start Date       object
Reward Amount               float64
Badge Id                     object
Badge Name                   object
Skill Points Earned         float64
Skills Earned                object
dtype: object

In [5]:
# checking missing values
df.isnull().sum()

Profile Id                      0
Opportunity Id                  0
Opportunity Name                0
Opportunity Category            0
Opportunity End Date            0
Gender                          1
City                            1
State                          14
Country                         0
Zip Code                       13
Graduation Date(YYYY MM)        1
Current Student Status          1
Current/Intended Major         44
Status Description              0
Apply Date                      0
Opportunity Start Date        804
Reward Amount               17801
Badge Id                    17801
Badge Name                  17801
Skill Points Earned         17801
Skills Earned               17801
dtype: int64

In [6]:
# duplicate rows
df.duplicated().sum()

0

In [7]:
df.describe()

       Reward Amount  Skill Points Earned
count    2521.000000          2521.000000
mean     1081.261404          1186.964697
std       927.251398           399.172150
min        50.000000            10.000000
25%       500.000000          1182.000000
50%       500.000000          1182.000000
75%      2500.000000          1182.000000
max      2500.000000          1776.000000

In [8]:
# unique values
for col in df.select_dtypes(include="object").columns:
    print(f"{col}: {df[col].nunique()} unique values")

Profile Id: 11481 unique values
Opportunity Id: 33 unique values
Opportunity Name: 33 unique values
Opportunity Category: 5 unique values
Opportunity End Date: 29 unique values
Gender: 4 unique values
City: 3141 unique values
State: 1370 unique values
Country: 108 unique values
Zip Code: 5189 unique values
Graduation Date(YYYY MM): 321 unique values
Current Student Status: 4 unique values
Current/Intended Major: 968 unique values
Status Description: 8 unique values
Apply Date: 20277 unique values
Opportunity Start Date: 51 unique values
Badge Id: 56 unique values
Badge Name: 56 unique values
Skills Earned: 24 unique values

**DATA CLEANING**

**Handling Missing Values**

In [9]:
# Filling missing values with '0'
reward_cols = ["Reward Amount", "Badge Id", "Badge Name", "Skills Earned"]
df[reward_cols] = df[reward_cols].fillna(0)

In [10]:
# converting Opportunity Start Date to datetime
df['Opportunity Start Date'] = pd.to_datetime(df['Opportunity Start Date'])

In [23]:
# Filling missing categorical values with mode
categorical_cols = ["City", "State", "Zip Code", "Gender"]
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

<ipython-input-23-71f591a818e9>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [12]:
# Standardizing city names
df["City"] = df["City"].str.lower().str.strip()
df["City"] = df["City"].replace({"st. louis": "saint louis", "nyc": "new york city"})

In [13]:
# Ensuring dates are in proper format
df["Opportunity Start Date"] = pd.to_datetime(df["Opportunity Start Date"]).dt.strftime('%Y-%m-%d')

In [14]:
# Removing invalid majors
df = df[df["Current/Intended Major"].str.match(r'^[a-zA-Z\s]+$', na=True)]

In [15]:
# Removing duplicates
df = df.drop_duplicates()

**DATA VALIDATION**

In [16]:
# Converting Gender Category
df["Gender"] = df["Gender"].str.lower().str.strip()
df["Gender"] = df["Gender"].replace({"male": "m", "female": "f"})

In [17]:
df.loc[df["Status Description"] != "Rewards Awarded", ["Reward Amount", "Skill Points Earned"]] = 0

**Validating Numeric Data**

In [18]:
# Converting Numeric columns
df["Reward Amount"] =pd.to_numeric(df["Reward Amount"], errors="coerce")
df["Skill Points Earned"] = pd.to_numeric(df["Skill Points Earned"], errors="coerce")

In [19]:
# Removing Negative values
df = df[(df["Reward Amount"] >= 0) & (df["Skill Points Earned"] >= 0)]

In [20]:
# Cross-check business logic
invalid_rewards = df[(df["Status Description"] != "Rewards Awarded") & (df["Reward Amount"] > 0)]
print(f"Invalid reward cases: {len(invalid_rewards)}")

Invalid reward cases: 0

In [21]:
# Cleaned Data set
df_cleaned = df
df_cleaned.to_csv("cleaned_data.csv", index=False)

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive